{
    "extends": [
        "plugin:@wordpress/eslint-plugin/recommended"
    ],
    "rules": {
        "@wordpress/no-unsafe-wp-apis": "off",
        "space-in-brackets": "off",
        "array-bracket-spacing": "off",
        "space-in-parens": ["error", "never"],
        "func-call-spacing": "off"
    }
}
