<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <file>./src/</file>
    <file>./templates/</file>
    <file>./tests/php</file>
    <file>./product-specifications.php</file>

    <arg value="sp"/>
    <arg name="colors"/>
    <config name="testVersion" value="7.4-"/>
    <config name="ignore_warnings_on_exit" value="1"/>

    <exclude-pattern>*/vendor/*</exclude-pattern>

    <config name="testVersion" value="7.4-" />

    <rule ref="PSR12"/>

    <rule ref="WordPress-VIP-Go"/>

    <!-- Strip out conflicting WP sniffs -->
    <exclude name="WordPress.Files.FileName"/>
    <exclude name="WordPress.Files.FileHeader"/>
    <exclude name="WordPress.Files.LineEndings"/>
    <exclude name="WordPress.WhiteSpace.*"/>
    <exclude name="WordPress.NamingConventions.*"/>
    <exclude name="WordPress.Commenting.*"/>
    <exclude name="PEAR.Commenting.*"/>
    <exclude name="Squiz.Commenting.*"/>
    <exclude name="Generic.Commenting.*"/>
</ruleset>
