<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <file>./src</file>
    <file>./templates</file>

    <arg value="sp"/>
    <arg name="colors"/>

    <config name="testVersion" value="7.4-"/>

    <exclude-pattern>*/vendor/*</exclude-pattern>
</ruleset>
