/**
 * Product Specifications Plugin
 * Main Admin Styles
*/
.dwspecs-product-table .dwspecs-product-table-group {
  margin-bottom: 20px;
}
.dwspecs-product-table .dwspecs-product-table-group .group-title {
  color: #2196f3;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
}
.dwspecs-product-table table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  margin: 0;
}
.dwspecs-product-table table tr th,
.dwspecs-product-table table tr td {
  vertical-align: middle;
  background-color: #f7f7f7;
  padding: 1rem 1.25rem;
  color: #4b4b4b;
  font-size: 1.083333333333333rem;
  font-weight: 400;
  border-bottom: 1px solid #fff;
}
.dwspecs-product-table table tr th:first-child,
.dwspecs-product-table table tr td:first-child {
  width: 25%;
  background-color: #f0f0f0;
}
.dwspecs-product-table table tr th svg,
.dwspecs-product-table table tr td svg {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
.dwspecs-product-table table tr th.yes svg,
.dwspecs-product-table table tr td.yes svg {
  fill: #4db051;
}
.dwspecs-product-table table tr th.no svg,
.dwspecs-product-table table tr td.no svg {
  fill: #ff6a6c;
}
