.product-specifications-specs-sets-table {
	.product-specifications-specs-sets-table__select-col {
		width: 40px;
	}

	.product-specifications-specs-sets-table__actions-col {
		white-space: nowrap;
	}

	.product-specifications-specs-sets-table__row-actions {
		display: flex;
		gap: 4px;
	}
}
