/**
 * Product Specifications Plugin
 * Main Admin Styles
*/
.dwps-page *{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clear,
.clearfix{
  clear:none;
}

.clear:before,
.clearfix:before,
.clear:after,
.clearfix:after{
  content: '';
  display: table;
}

.clear:after,
.clearfix:after{
  clear:both;
}

.dwps-settings-wrap{

}

.dwps-settings-wrap .title-note{
  font-size:11px;
  color:#ccc;
}

.dwps-field-wrap{

}

.dwps-field-wrap .label{
  display:block;
  cursor:pointer;
  margin-bottom:5px;
}

.dwps-field-wrap .note{
  display:block;
  color:#a7a7a7;
  margin-bottom:10px;
}

.dwps-box-wrapper{
  background-color:#fff;
  margin-right:2%;
  border-radius:3px;
  border-top: 3px solid #d2d6de;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.dwps-box-wrapper.dwps-box-padded{
  padding:0 20px;
}

.rtl .dwps-box-wrapper{
  margin-left:2%;
  margin-right:0px;
}

.dwps-content {
  padding:15px;
}

.dwps-box-top{
  padding: 12px 15px;
}

.dwps-box-top h3,
.dwps-box-top h4{
  padding:0;
  margin:0;
  float:left;
}

.rtl .dwps-box-top h3,
.rtl .dwps-box-top h4{
  float: right;
}

.dwps-table{
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
}

.dwps-table.dwps-sortable tbody tr{

}

.dwps-table tr th{
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.rtl .dwps-table tr th{
  text-align: right;
}

.dwps-table tr td,
.dwps-table tr th{
  border-top: 1px solid #e7e7e7;
  padding: 10px 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

.dwps-table tr td.not-found,
.dwps-table tr th.not-found{
  text-align: center;
}

.dwps-table thead tr th,
.dwps-table tbody tr:nth-child(even) td{
  background-color: #fcfcfc;
}

.dwps-table tbody tr:last-child td{
  border-bottom: 1px solid #e7e7e7;
}

.dwps-table h4{
  font-weight: 400;
  font: 13px tahoma;
  margin: 0;
}

.modal__main label{
  vertical-align: top;
  width: 28%;
  display: inline-block;
}

.modal__main input[type=text],
.modal__main input[type=email],
.modal__main input[type=password],
.modal__main input[type=url],
.modal__main input[type=number],
.modal__main textarea,
.modal__main select {
  min-width: 200px;
}

.modal__main textarea{
  width: 70%;
}

.modal, .modal--ie{
  max-width: 450px !important;
}

.modal__main .result-msg{
  display: block;
  margin-top: 15px;
}

.modal__main .result-msg .msg{
  text-align: center;
  display: block;
  padding: 7px 15px;
  background-color: #eee;
  border-bottom: 2px solid #333;
}

.modal__main .result-msg .msg.success{
  background-color: #d7ffe1;
  border-bottom: 2px solid #10A42C;
  color: #09681E;
}

.modal__main .result-msg .msg.error{
  background-color: #fff4f4;
  border-bottom: 2px solid #A41010;
  color: #680909;
}

.dwps-buttons{
  padding: 10px;
  margin-bottom: 5px;
}

.dwps-button,
.modal-btn{
  background-color: #2F9E06;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  padding: 6px 15px;
  border-bottom: 2px solid #05710E;
  transition: 200ms all linear;
  margin-left: 4px;
}

.dwps-button:hover,
.modal-btn:hover{
  color:#fff;
  opacity: 0.7;
}

.dwps-button:focus,
.dwps-button:active,
.modal-btn:focus,
.modal-btn:active{
  color:#fff;
}

.dwps-button[disabled],
.modal-btn[disabled]{
  opacity: 0.4;
  cursor: not-allowed;
}

.modal-btn.btn-confirm,
.dwps-button.red-btn{
  background-color: #f52e2e;
  border-bottom: 2px solid #811111;
}

.modal-btn.btn-cancel{
  background-color: #c3b305;
  border-bottom: 2px solid #575601;
}

.dwps-actions a{
  text-decoration: none;
  display: inline-block;
  background-color: #35A105;
  font-size: 13px;
  color: #fff;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
}

.dwps-actions a i{
  vertical-align: middle;
}

.dwps-actions a.delete{
  background-color: #dd4b39;
}

.dwps-actions a.edit{
  background-color: #00a65a;
}

.dwps-actions a.view{
  background-color: #605ca8;
}

.dwps-actions a:hover{
  opacity: 0.75;
}

.dwps-group-searchform{
  float:right;
  position: relative;
}

.rtl .dwps-group-searchform{
  float: left;
}

.dwps-group-searchform input[type=search],
.dwps-group-searchform input[type=text]{
  background-color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: none;
  height: 30px;
  float: left;
  border: 1px solid #d4d4d4;
}

.rrl .dwps-group-searchform input[type=search],
.rtl .dwps-group-searchform input[type=text]{
  float:right;
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dwps-group-searchform input[type=search]:focus,
.dwps-group-searchform input[type=text]:focus{
  border-color: #2792e1;
}

.dwps-group-searchform button,
.dwps-group-searchform input[type=submit]{
  width: 30px;
  height: 30px;
  outline: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  float: left;
  border: 1px solid #d4d4d4;
  border-left: 0px;
  margin: 1px 0px 0 -1px;
  color: #575757;
}

.rtl .dwps-group-searchform button,
.rtl .dwps-group-searchform input[type=submit]{
  float:right;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #d4d4d4;
  border-right:0px;
  margin: 1px -1px 0 0;
}

.dwps-pagination{
  float: right;
}

.rtl .dwps-pagination{
  float: left;
}

.dwps-pagination span:first-child,
.dwps-pagination a:first-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dwps-pagination span:last-child,
.dwps-pagination a:last-child{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.dwps-pagination span,
.dwps-pagination a{
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  background: #fafafa;
  color: #666;
  border: 1px solid #ddd;
  float: left;
  margin-right: -1px;
}

.rtl .dwps-pagination span,
.rtl .dwps-pagination a{
  float: right;
}

.dwps-pagination a:hover,
.dwps-pagination .current{
  background: #e3e3e3;
  color: #333;
}

input[type=checkbox][readonly]{
  opacity: 0.5;
}

.re-arrange-attributes li{
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #eae3e3;
  border-radius: 4px;
  padding: 7px;
  cursor: pointer;
  text-align: center;
}

.re-arrange-attributes li input{
  position: absolute;
  top: -9999px;
  right: -9999px;
}

.re-arrange-attributes li label{
  width: 100%;
}

.table-groups-list{
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 4px;
}

.table-groups-list li {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.table-groups-list li input{
  position: absolute;
  right: -9999px;
  top: -9999px;
}

.dwps-spec-table-wrap{
  padding: 0;
  border-top: 1px solid #EEEEEE;
  margin: 15px -15px 0;
}

.dwps-spec-table-wrap svg{
  display: table;
  margin: 0 auto;
  fill: #939191;
}

.dwps-spec-table-wrap .tabs{
  float: left;
  padding: 0px;
  border-left: 1px solid #EEEEEE;
  width: 25%;
  margin: 0;
}

.rtl .dwps-spec-table-wrap .tabs{
  float: right;
}

.dwps-spec-table-wrap .tab-contents{
  width: 74%;
  float: left;
  padding: 12px 15px;
  border-right: 1px solid #EEEEEE;
  margin-right: -1px;
}

.rtl .dwps-spec-table-wrap .tab-contents{
  float:right;
}

.dwps-spec-table-wrap .tabs .tab{
  padding: 0px;
  margin: 0;
  cursor: pointer;
  padding: 15px;
  font-size: 12px;
  position: relative;
  z-index: 20;
  border-bottom: 1px solid #EEEEEE;
  color: #000;
}

.dwps-spec-table-wrap .tabs .tab.active{
  margin-left: -1px;
  background-color: #0073AA;
  color: #fff;
}

.dwps-spec-table-wrap .attributes-list li{
  background-color: #fbf9f9;
  padding: 10px;
  border-radius: 3px;
  line-height: 2.4;
}

.dwps-spec-table-wrap .attributes-list li label{
  cursor: pointer;
  font-size: 12px;
  color: #000;
  margin-left: 10px;
  vertical-align: top;
  line-height: 2.4;
  display: inline-block;
  min-width: 100px;
}

.dwps-spec-table-wrap .attributes-list li label.or{
  min-width: 0;
}

.dwps-spec-table-wrap .attributes-list li label.remove-checkbox-attr{
  float: right;
  margin: 0;
}


.rtl .dwps-spec-table-wrap .attributes-list li label.remove-checkbox-attr{
  float: left;
  margin: 0;
}

.dwps-spec-table-wrap .attributes-list li label[for]{
  /*width: 18%;*/
}

.dwps-spec-table-wrap input[type="text"],
.dwps-spec-table-wrap input[type="search"],
.dwps-spec-table-wrap input[type="tel"],
.dwps-spec-table-wrap input[type="time"],
.dwps-spec-table-wrap input[type="url"],
.dwps-spec-table-wrap input[type="week"],
.dwps-spec-table-wrap input[type="password"],
.dwps-spec-table-wrap input[type="color"],
.dwps-spec-table-wrap input[type="date"],
.dwps-spec-table-wrap input[type="datetime"],
.dwps-spec-table-wrap input[type="datetime-local"],
.dwps-spec-table-wrap input[type="email"],
.dwps-spec-table-wrap input[type="month"],
.dwps-spec-table-wrap input[type="number"],
.dwps-spec-table-wrap select,
.dwps-spec-table-wrap textarea{
  min-width: 30%;
}

.dwps-spec-table-wrap textarea{
  width: 78%;
  min-height: 210px;
}

.dwps-tools-box{
  padding: 15px;
}

.dwps-tools-box h3{
  padding:0;
  margin:0;
  border-bottom: 1px solid #eee;
  margin-right:-15px;
  margin-left:-15px;
  font: 700 14px tahoma, arial;
  padding: 0 15px 15px;
  margin-bottom: 15px;
}

.dwsp-meta-wrap{
  margin: -12px;
  padding: 15px;
}

#spec_tables_list{
  margin-top: 12px;
}

.dw-search-by-tbl{
  float: right;
  height: 31px;
  margin-left: 10px;
}

.rtl .dw-search-by-tbl{
  float: left;
}